@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4" style="color: white;">Welcome </h1>
     <p>to our Clinic </p> 
</div>
@* <a href="https://learn.microsoft.com/aspnet/core"></a> *@